<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Register</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/register_form" method="post">
            <label for="name">Name:</label>
            <input type="name" id="name" name="name" required>
            <label for="contact">Contact:</label>
            <input type="contact" id="number" name="number" required>
            <button type="submit">Register</button>
        </form>
    </main>
    <footer>
        <b><p>Address:128,Thorlebag,Querim,Arambol,Goa | Mail:palmparadise09@gmail.com | contact us:+91 8379899195 | &copy; 2024 Luxury Resort. All rights reserved.</p></b>
    </footer>
</body>
</body>
</html>